<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h2>CUSTOMER HOME</h2>
	<br></br>
	<!-- <form action="playsongs">
		<input type="submit" value="PLAY SONGS">
	</form> -->


	<form action="pay">
		<input type="submit" value="GET PREMIUM">
	</form>

	<br></br>

	<form action="viewplaylists">
		<input type="submit" value="VIEW PLAYLISTS">
	</form>

	<br></br>

	<form action="logout">
		<input type="submit" value="LOGOUT">
	</form>

	<br></br>



</body>
</html>